<h4>Informacion del Ticket</h4><br>

<div class="form-group">
    <label class="form-label">No. Ticket</label>
    <div class="controls">
        <label id="txtNoTicket" style="font-weight:bold;font-size:xx-large"></label>
    </div>
</div>

<div class="form-group">
    <label class="form-label">Asunto</label>
    <div class="controls">
        <input type="text" class="form-control" id="txtAsunto2" disabled>
    </div>
</div>
 
<div class="form-group">
    <label class="form-label">Descripcion</label>
    <div class="controls">
        <textarea id="txtDescripcion2" class="form-control"  rows="4" disabled></textarea>
    </div>
</div>
<ul class="pager wizard">
    <li class="finish"><a href="javascript:RegistrarTicket();">Finish</a></li>
</ul>
