<h4>Informacion del Servicio</h4><br>

    <div class="form-group">
        <div class="controls">
            <input type="text" placeholder="Buscar Servicio" class="form-control" id="treesearch">
        </div>
    </div>

    <div id="ContenedorArbol" style="padding-top:10px;margin:auto">
        <div id="jstreeServicio">
        </div>
    </div>
    @*<br /><br />*@
    <ul class="pager wizard">
        <li class="previous" id="Anterior"><a href="javascript:">Anterior</a></li>
        <li class="next" id="Siguiente"><a href="javascript:" disabled>Siguiente</a></li>
    </ul>