<div>
    <div style="width:100%;background-color:#f0f0f0">
        <div>
            <button id="Cerrar" style="background-color:#f0f0f0;color:#3c3c3c;font-weight:bolder;font-size:16px;border-style:none">X</button>
        </div>
    </div>
    <div style="margin-top:5%;margin-left:10%">
        <div>
            <div class="form-group col-md-4"><h5 style="font-weight:bold">Asunto</h5></div>
            <div class="form-group col-md-6"><h5 style="color:gray">Asunto Prueba</h5></div>
        </div>
        <div style="margin-top:3%">
            <div class="form-group col-md-4"><h5 style="font-weight:bold">Descripcion</h5></div>
            <div class="form-group col-md-6"><h5 style="color:gray">Descripcion Prueba</h5></div>
        </div>
        <div style="margin-top:3%">
            <div class="form-group col-md-4"><h5 style="font-weight:bold">Tipo Servicio</h5></div>
            <div class="form-group col-md-6">
                <select id="SelectGrupo" class="form-control" style="font-size:13px">
                    <option>Administracion</option>
                    <option>Sopoorte</option>
                </select>
            </div>
        </div>
        <div style="margin-top:3%">
            <div class="form-group col-md-4"><h5 style="font-weight:bold">Area</h5></div>
            <div class="form-group col-md-6">
                <select id="SelectArea" class="form-control" style="font-size:13px">
                    <option>Area 1</option>
                    <option>Area 2</option>
                </select>
            </div>
        </div>
        <div style="margin-top:3%">
            <div class="form-group col-md-4"><h5 style="font-weight:bold">Documento</h5></div>
            <div class="form-group col-md-6"><h5 style="color:gray">Documento prueba</h5></div>
        </div>
        <div style="margin-top:3%">
            <div class="form-group col-md-4"><h5 style="font-weight:bold">Asignado</h5></div>
            <div class="form-group col-md-6">
                <select id="SelectAsignado" class="form-control" style="font-size:13px">
                    <option>Asignado 1</option>
                    <option>Asignado 2</option>
                </select>
            </div>
        </div>
        <div style="margin-top:3%">
            <div class="form-group col-md-4"><h5 style="font-weight:bold">Fecha</h5></div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="txtFecha" style="font-size:13px" disabled>
            </div>
        </div>
        <div style="margin-top:4%;margin-left:auto;margin-right:0">
            @*<div class="form-group col-md-4">*@
                <button type="button" id="CerrarDetalle" class="btn btn-primary">Cerrar</button>
            @*</div>*@
           @* <div class="form-group col-md-4">*@
                <button type="button" class="btn btn-primary">Aceptar</button>
            @*</div>*@
        </div>
    </div>
    <br /><br /><br />
</div>