<h4>Informacion del Grupo</h4><br>
<div class="form-group">
    <div class="form-group">
        <div class="controls">
            <input type="text" placeholder="Buscar Grupo" class="form-control" id="treesearch">
        </div>
    </div>
     <div id="jstree" style="margin:auto">
    </div>
</div>

<ul class="pager wizard">
    <li class="next" id="Siguiente"><a href="javascript:">Siguiente</a></li>
</ul>